<!doctype html>
<html lang="en">
	<head>
		<title>Hireo</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/colors/blue.css">
        <style>
            @font-face {
                font-family: 'Mahsa';
                src: url('/fonts/Mahsa.eot?#') format('eot'),  
                    url('/fonts/Mahsa.woff') format('woff'),
                    url('/fonts/Mahsa.ttf') format('truetype');
                font-style:normal;
                font-weight:normal;
            }
            body {
                font-family: Mahsa;
            }
        </style>
	</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
        <div id="logo" style="left: 0; position: absolute;">
			<a href="/"><img src="/images/logo.png" alt=""></a>
		</div>
		<div class="container">
			<!-- Left Side Content -->
			<div class="right-side" style="position: relative; right: 150px;">
				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
						<li><a>فرصت‌های کاری</a>
							<ul class="dropdown-nav">
								<li><a href="/jobs">شغل‌ها</a>
								</li>
								<li><a href="/tasks">پروژه‌ها</a>
								</li>
							</ul>
						</li>
						<li><a href="/companies">شرکت‌ها</a></li>
						<li><a href="/freelancers">فریلنسرها</a></li>
						<li><a href="/">خانه</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				{{#if data.user}}
				{{#equal data.user.role 'freelancer'}}
				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							{{#if data.user.profile_picture}}
							<a href="#"><div class="user-avatar status-online"><img src="{{data.user.profile_picture}}" alt=""></div></a>
							{{else}}
							<a href="#"><div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div></a>
							{{/if}}
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									{{#if data.user.profile_picture}}
									<div class="user-avatar status-online"><img src="{{data.user.profile_picture}}" alt=""></div>
									{{else}}
									<div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div>
									{{/if}}
									<div class="user-name">
										{{data.user.first_name}} {{data.user.last_name}} <span>Freelancer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
							</div>
							
							<ul class="user-menu-small-nav">
								<li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> داشبورد</a></li>
								<li><a href="/dashboard_settings"><i class="icon-material-outline-settings"></i> تنظیمات</a></li>
								<li><a href="/logout" id="logOut"><i class="icon-material-outline-power-settings-new"></i> خروج</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- User Menu / End -->
				{{/equal}}
				{{#equal data.user.role 'employer'}}
				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							{{#if data.user.logo}}
							<a href="#"><div class="user-avatar status-online"><img src="{{data.user.logo}}" alt=""></div></a>
							{{else}}
							<a href="#"><div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div></a>
							{{/if}}
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									{{#if data.user.logo}}
									<div class="user-avatar status-online"><img src="{{data.user.logo}}" alt=""></div>
									{{else}}
									<div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div>
									{{/if}}
									<div class="user-name">
										{{data.user.name}} <span>Employer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
							</div>
							
							<ul class="user-menu-small-nav">
								<li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> داشبورد</a></li>
								<li><a href="/dashboard_settings"><i class="icon-material-outline-settings"></i> تنظیمات</a></li>
								<li><a href="/logout" id="logOut"><i class="icon-material-outline-power-settings-new"></i> خروج</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- User Menu / End -->
				{{/equal}}
				{{/if}}
				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->
	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="شروع">
							<li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> داشبورد</a></li>
							<li class="active"><a href="/reviews/my_reviews"><i class="icon-material-outline-rate-review"></i> نظرات</a></li>
						</ul>
						
						{{#equal data.user.role 'employer'}}
						<ul data-submenu-title="سازمان دادن و اداره کردن">
							<li><a href="#"><i class="icon-material-outline-business-center"></i> شغل‌ها</a>
								<ul>
									<li><a href="/jobs/my_jobs">مدیریت شغل‌ها <span class="nav-tag">{{data.user.jobs.length}}</span></a></li>
									<li><a href="/jobs/create">پست موقعیت شغلی</a></li>
								</ul>	
							</li>
							<li><a href="#"><i class="icon-material-outline-assignment"></i> پروژه‌ها</a>
								<ul>
									<li><a href="/tasks/my_tasks">مدیریت پروژه‌ها <span class="nav-tag">{{data.user.tasks.length}}</span></a></li>
									<li><a href="/tasks/create">ساخت پروژه</a></li>
								</ul>	
							</li>
						</ul>
						{{/equal}}

						{{#equal data.user.role 'freelancer'}}
						<ul data-submenu-title="سازمان دادن و اداره کردن">
							<li><a href="#"><i class="icon-material-outline-assignment"></i> پروژه‌ها</a>
								<ul>
									<li><a href="/tasks/my_tasks">مدیریت پروژه‌ها <span class="nav-tag">{{data.user.tasks.length}}</span></a></li>
									<li><a href="/tasks/my_bids">پیشنهادهای من </a></li>
								</ul>	
							</li>
						</ul>
						{{/equal}}

						<ul data-submenu-title="اکانت">
							<li><a href="/dashboard_settings"><i class="icon-material-outline-settings"></i> تنظیمات</a></li>
							<li><a href="/logout" id="logOut"><i class="icon-material-outline-power-settings-new"></i> خروج</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" style="text-align: right;" dir="rtl" data-simplebar>
		<div class="dashboard-content-inner" >
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3 style="font-family: inherit; text-align: right;">نظرات</h3>
			</div>
			<!-- Row -->
			<div class="row">
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">
						<!-- Headline -->
						{{#equal data.user.role 'employer'}}
						<div class="headline">
							<h3 style="text-align: right; font-family: inherit;"><i style="position: absolute; right: 0; top: 32px;" class="icon-material-outline-business"></i>انتقادات و پیشنهادات</h3>
						</div>
						{{/equal}}
						{{#equal data.user.role 'freelancer'}}
						<div class="headline">
							<h3 style="text-align: right;"><i class="icon-material-outline-business"></i> امتیاز به کارفرماها</h3>
						</div>
						{{/equal}}
						<div class="content">
							<ul class="dashboard-box-list" style="text-align: right; font-family: inherit;">
                                <!-- Tasks -->
								{{#each data.tasks}}
								<li>
									<div class="boxed-list-item" style="margin-bottom: 10px;">
										<div class="item-content">
                                            <h4 class="task-name" style="font-family: inherit; position: absolute; right: 20px;">{{this.name}}</h4>
											<span class="company-not-rated margin-bottom-5">Not Rated</span>
                                            <a style="position: absolute; right: 20px; top: 60px;" href="#small-dialog-2" class="review-btn popup-with-zoom-anim button ripple-effect margin-top-5 margin-bottom-10" value="{{this._id}}">
                                                <i class="icon-material-outline-thumb-up"></i>ارسال نظر
                                            </a>
                                            <h4 class="task-name" style="display: none;">{{this.name}}</h4>
                                            {{#equal ../data.user.role 'employer'}}
                                            <h4 style="display: none;">{{this.freelancer_id.first_name}} {{this.freelancer_id.last_name}}</h4>
                                            <h4 style="display: none;">{{this.freelancer_id._id}}</h4>
                                            {{/equal}}
                                            {{#equal ../data.user.role 'freelancer'}}
                                            <h4 style="display: none;">{{this.employer_id.name}}</h4>
                                            <h4 style="display: none;">{{this.employer_id._id}}</h4>
                                            {{/equal}}
                                            <h4 style="display: none;">{{this._id}}</h4> 
										</div>
									</div>
								</li>
								{{/each}}
                                <!-- End /// Tasks -->
                                <!-- Reviews -->
                                {{#each data.reviews}}
                                    <li>
                                        <div class="boxed-list-item">
                                            <div class="item-content">
                                                <h4 class="task-name" style="font-family: inherit; position: absolute; right: 20px;">{{this.task.name}}</h4>
                                            </div>
                                        </div>
                                        <div class="item-details margin-top-10" style="position: absolute; left: 30px; top: 20px;">
                                            <div class="star-rating" data-rating="{{this.score}}"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> 
                                            {{this.created_at}}
                                            </div>
                                        </div>
                                        <div class="item-description" style="margin-top: 70px;" dir="rtl">
                                            <p>{{this.comment}}</p>
                                        </div>
								    </li>
                                {{/each}}
                                <!-- End /// Reviews -->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2020 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->



<!-- Edit Review Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab1">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Change Review</h3>
					<span>Rate <a href="#">Herman Ewout</a> for the project <a href="#">WordPress Theme Installation</a> </span>
				</div>
					
				<!-- Form -->
				<form method="post" id="change-review-form">

					<div class="feedback-yes-no">
						<strong>Was this delivered on budget?</strong>
						<div class="radio">
							<input id="radio-rating-1" name="radio" type="radio" checked>
							<label for="radio-rating-1"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-rating-2" name="radio" type="radio">
							<label for="radio-rating-2"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Was this delivered on time?</strong>
						<div class="radio">
							<input id="radio-rating-3" name="radio2" type="radio" checked>
							<label for="radio-rating-3"><span class="radio-label"></span> Yes</label>
						</div>

						<div class="radio">
							<input id="radio-rating-4" name="radio2" type="radio">
							<label for="radio-rating-4"><span class="radio-label"></span> No</label>
						</div>
					</div>

					<div class="feedback-yes-no">
						<strong>Your Rating</strong>
						<div class="leave-rating">
							<input type="radio" name="rating" id="rating-1" value="1" checked/>
							<label for="rating-1" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-2" value="2"/>
							<label for="rating-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-3" value="3"/>
							<label for="rating-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-4" value="4"/>
							<label for="rating-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-5" value="5"/>
							<label for="rating-5" class="icon-material-outline-star"></label>
						</div><div class="clearfix"></div>
					</div>

					<textarea class="with-border" placeholder="Comment" name="message" id="message" cols="7" required>Excellent programmer - helped me fixing small issue.</textarea>

				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="change-review-form">Save Changes <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Edit Review Popup / End -->


<!-- Leave a Review for Freelancer Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
	<!--Tabs -->
	<div class="sign-in-form">
		<ul class="popup-tabs-nav">
		</ul>
		<div class="popup-tabs-container">
			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-family: inherit;">نظر دادن</h3>
					<span><a id="freelancer-name"></a> برای پروژه <a id="task-name"></a></span>
				</div>
				<!-- Form -->
				<form method="POST" id="leave-review-form" action="/reviews">
                    {{#equal data.user.role 'freelancer'}}
                        <div class="feedback-yes-no" style="text-align: right;">
                                <strong>آیا از پرداخت هزینه راضی بودید؟</strong>
                            <div class="radio">
                                <input id="radio-2" name="radio" type="radio">
                                <label for="radio-2"><span class="radio-label"></span> خیر</label>
                            </div>
							<div class="radio">
								<input id="radio-1" name="radio" type="radio">
								<label for="radio-1"><span class="radio-label"></span>بلی</label>
							</div>
                        </div>
                    {{/equal}}
                    {{#equal data.user.role 'employer'}}
					<div class="feedback-yes-no" style="text-align: right;">
						<strong>آیا پروژه به موقع تحویل داده شد؟</strong>
						<div class="radio">
							<input id="radio-4" name="radio2" type="radio">
							<label for="radio-4"><span class="radio-label"></span> خیر</label>
						</div>
						<div class="radio">
							<input id="radio-3" name="radio2" type="radio">
							<label for="radio-3"><span class="radio-label"></span> بلی</label>
						</div>
					</div>
                    {{/equal}}
					<div class="feedback-yes-no" style="text-align: right;">
						<strong>امتیاز شما</strong>
						<div class="leave-rating" style="text-align: right; position: absolute; right: 40px;">
							<input type="radio" name="rating" id="rating-radio-5" value="5" required>
							<label for="rating-radio-5" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-4" value="4" required>
							<label for="rating-radio-4" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-3" value="3" required>
							<label for="rating-radio-3" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-2" value="2" required>
							<label for="rating-radio-2" class="icon-material-outline-star"></label>
							<input type="radio" name="rating" id="rating-radio-1" value="1" required>
							<label for="rating-radio-1" class="icon-material-outline-star"></label>
						</div><div class="clearfix"></div>
					</div>
					<textarea class="with-border" placeholder="نظر" name="comment" id="message2" cols="7" required style="font-family: inherit; text-align: right; margin-top: 40px;"></textarea>
					<input type="hidden" name="reviewee_id" id="reviewee">
					<input type="hidden" name="task_id" id="task-id">
				</form>
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="leave-review-form" style="font-family: inherit;">ثبت نظر
                    <i class="icon-material-outline-arrow-right-alt"></i>
                </button>
			</div>

		</div>
	</div>
</div>
<!-- Leave a Review Popup / End -->



<!-- Scripts
================================================== -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery-migrate-3.1.0.min.html"></script>
<script src="/js/mmenu.min.js"></script>
<script src="/js/tippy.all.min.js"></script>
<script src="/js/simplebar.min.js"></script>
<script src="/js/bootstrap-slider.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/counterup.min.js"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
<script src="/js/chart.min.js"></script>
<script>
	Chart.defaults.global.defaultFontFamily = "Nunito";
	Chart.defaults.global.defaultFontColor = '#888';
	Chart.defaults.global.defaultFontSize = '14';

	var ctx = document.getElementById('chart').getContext('2d');

	var chart = new Chart(ctx, {
		type: 'line',

		// The data for our dataset
		data: {
			labels: ["January", "February", "March", "April", "May", "June"],
			// Information about the dataset
	   		datasets: [{
				label: "Views",
				backgroundColor: 'rgba(42,65,232,0.08)',
				borderColor: '#2a41e8',
				borderWidth: "3",
				data: [196,132,215,362,210,252],
				pointRadius: 5,
				pointHoverRadius:5,
				pointHitRadius: 10,
				pointBackgroundColor: "#fff",
				pointHoverBackgroundColor: "#fff",
				pointBorderWidth: "2",
			}]
		},

		// Configuration options
		options: {

		    layout: {
		      padding: 10,
		  	},

			legend: { display: false },
			title:  { display: false },

			scales: {
				yAxes: [{
					scaleLabel: {
						display: false
					},
					gridLines: {
						 borderDash: [6, 10],
						 color: "#d8d8d8",
						 lineWidth: 1,
	            	},
				}],
				xAxes: [{
					scaleLabel: { display: false },  
					gridLines:  { display: false },
				}],
			},

		    tooltips: {
		      backgroundColor: '#333',
		      titleFontSize: 13,
		      titleFontColor: '#fff',
		      bodyFontColor: '#fff',
		      bodyFontSize: 13,
		      displayColors: false,
		      xPadding: 10,
		      yPadding: 10,
		      intersect: false
		    }
		},


});

</script>

<script>
	const temp = window.location.href.split('?')[1] || 'page=1';
	$('#next-page').attr('href', '/reviews/my_reviews?page=' + (parseInt(temp.split('page=')[1]) + 1).toString());
	$('.review-btn').on('click', (event) => {
		$('#freelancer-name').text($(event.target).next().next().text());
		$('#task-name').text($(event.target).next().text());
		$('#reviewee').val($(event.target).next().next().next().text());
		$('#task-id').val($(event.target).next().next().next().next().text());
	});

	$('#logOut').on('click', () => {
		$.ajax({
			url: '/logout',
			method: 'GET',
			success: (data, status, xhr) => {
				window.location.href = '/';
			}
		});
	});

</script>

</body>

</html>