<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Hireo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/blue.css">

<style>
	@font-face {
        font-family: 'Mahsa';
        src: url('/fonts/Mahsa.eot?#') format('eot'),  
            url('/fonts/Mahsa.woff') format('woff'),
            url('/fonts/Mahsa.ttf') format('truetype');
        font-style:normal;
        font-weight:normal;
    };

	body {
        font-family: Mahsa !important;
    };

	.error-border {
		border: solid 1px #dc3545 !important;
	};

</style>

</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth" style="font-family: Mahsa;">

	<!-- Header -->
	<div id="header">
        <div id="logo" style="left: 20px; position: absolute;">
			<a href="/"><img src="/images/logo.png" alt=""></a>
		</div>
		<div class="container">
			<!-- Left Side Content -->
			<div class="right-side" style="position: relative; right: 150px;">
				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
						<li><a class="current">فرصت های کاری</a>
							<ul class="dropdown-nav">
								<li><a href="/jobs">شغل ها</a>
								</li>
								<li><a href="/tasks">پروژه ها </a>
									
								</li>
							</ul>
						</li>
						<li><a href="/companies">شرکت ها</a></li>
						<li><a href="/freelancers">فریلنسرها</a></li>
                        <li><a href="/">خانه</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">
				{{#if data.user}}
				{{#equal data.user.role 'freelancer'}}
				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							{{#if data.user.profile_picture}}
							<a href="#"><div class="user-avatar status-online"><img src="{{data.user.profile_picture}}" alt=""></div></a>
							{{else}}
							<a href="#"><div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div></a>
							{{/if}}
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									{{#if data.user.profile_picture}}
									<div class="user-avatar status-online"><img src="{{data.user.profile_picture}}" alt=""></div>
									{{else}}
									<div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div>
									{{/if}}
									<div class="user-name">
										{{data.user.first_name}} {{data.user.last_name}} <span>Freelancer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
							</div>
							
							<ul class="user-menu-small-nav">
								<li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> داشبورد</a></li>
								<li><a href="/dashboard_settings"><i class="icon-material-outline-settings"></i> تنطیمات</a></li>
								<li><a href="/logout" id="logOut"><i class="icon-material-outline-power-settings-new"></i> خروج</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- User Menu / End -->
				{{/equal}}
				{{#equal data.user.role 'employer'}}
				<!-- User Menu -->
				<div class="header-widget">

					<!-- Messages -->
					<div class="header-notifications user-menu">
						<div class="header-notifications-trigger">
							{{#if data.user.logo}}
							<a href="#"><div class="user-avatar status-online"><img src="{{data.user.logo}}" alt=""></div></a>
							{{else}}
							<a href="#"><div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div></a>
							{{/if}}
						</div>

						<!-- Dropdown -->
						<div class="header-notifications-dropdown">

							<!-- User Status -->
							<div class="user-status">

								<!-- User Name / Avatar -->
								<div class="user-details">
									{{#if data.user.logo}}
									<div class="user-avatar status-online"><img src="{{data.user.logo}}" alt=""></div>
									{{else}}
									<div class="user-avatar status-online"><img src="/images/user-avatar-placeholder.png" alt=""></div>
									{{/if}}
									<div class="user-name">
										{{data.user.name}} <span>Employer</span>
									</div>
								</div>
								
								<!-- User Status Switcher -->
								<div class="status-switch" id="snackbar-user-status">
									<label class="user-online current-status">Online</label>
									<label class="user-invisible">Invisible</label>
									<!-- Status Indicator -->
									<span class="status-indicator" aria-hidden="true"></span>
								</div>	
							</div>
							
							<ul class="user-menu-small-nav">
								<li><a href="/dashboard"><i class="icon-material-outline-dashboard"></i> داشبورد</a></li>
								<li><a href="/dashboard_settings"><i class="icon-material-outline-settings"></i> تنطیمات</a></li>
								<li><a href="/logout" id="logOut"><i class="icon-material-outline-power-settings-new"></i> خروج</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- User Menu / End -->
				{{/equal}}
				{{/if}}
				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Spacer -->
<div class="margin-top-80"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container" style="font-family: Mahsa;text-align: right;">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget" style="text-align: right;" dir="rtl">
					<h3 style="font-family: Mahsa;">موقعیت</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							<input id="autocomplete-input" type="text" placeholder="موقعیت" style="font-family: Mahsa;">
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

				<!-- Keywords -->
				<div class="sidebar-widget" style="text-align: right;" dir="rtl">
					<h3 style="font-family: Mahsa;">عنوان</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input id="title-search" type="text" class="keyword-input" placeholder="عنوان شغلی" style="font-family: Mahsa;"/>
						</div>
						<div class="keywords-list"><!-- keywords go here --></div>
						<div class="clearfix"></div>
					</div>
				</div>
				
				<!-- Category -->
				<div class="sidebar-widget" style="font-family: Mahsa;">
					<h3 style="font-family: Mahsa;">دسته‌بندی‌ها</h3>
					<select id="category" class="selectpicker" data-selected-text-format="count" data-size="7" title="همه دسته‌بندی‌ها" style="font-family: inherit;">
						{{#each data.categories}}
						<option value="{{this._id}}" style="font-family: Mahsa;">{{this.title}}</option>
						{{/each}}
					</select>
				</div>
				
				<!-- Tags -->
				<div class="sidebar-widget">
					
					<button class="button ripple-effect full-width" id="submit" style="font-family: Mahsa;"> فیلتر کن</button>
					
				</div>

				<div class="sidebar-widget">
					
					<button class="button ripple-effect full-width" style="background-color: #303030; font-family: Mahsa;" id="clear">پاک کن</button>
					<div class="clearfix"></div>

				</div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<div class="listings-container compact-list-layout margin-top-35" dir="rtl" style="text-align: right;">
				
				<!-- Job Listing -->
				{{#each data.jobs}}
				<a href="/jobs/{{this._id}}" class="job-listing">

					<!-- Job Listing Details -->
					<div class="job-listing-details">

						<!-- Logo -->
						<div class="job-listing-company-logo">
                            {{#unless this.posted_by.logo}}
                                <img src="/images/company-logo-05.png" alt="">
                            {{/unless}}
                            {{#if this.posted_by.logo}}
							    <img src="{{this.posted_by.logo}}" alt="">
                            {{/if}}
						</div>

						<!-- Details -->
						<div class="job-listing-description" style="padding-right: 40px;">
							<h3 class="job-listing-title" style="font-family: Mahsa;padding-right: 20px;">{{this.title}}</h3>

							<!-- Job Listing Footer -->
							<div class="job-listing-footer">
								<ul>
									<li><i class="icon-material-outline-business"></i> {{this.posted_by.name}} </li>
									<li><i class="icon-material-outline-location-on"></i> {{this.location}}</li>
									<li><i class="icon-material-outline-business-center"></i> {{this.type}}</li>
									<li><i class="icon-material-outline-access-time" style="margin-right: 15px;"></i> {{this.created_at}}</li>
								</ul>
							</div>
						</div>

					</div>
				</a>	
				{{/each}}

				
			</div>


			<!-- Pagination -->
            <div class="pagination-container margin-top-40" style="margin-bottom: 50px;">
                <nav class="pagination">
                    <ul>
                        <li class="pagination-arrow"><a href="#" id="prev-page" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                        <li><a href="#" class="ripple-effect current-page">{{ data.currentPage }}</a></li>
                        <li class="pagination-arrow"><a href="#" id="next-page" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
			<!-- Pagination / End -->
		</div>
	</div>
</div>


<!-- Footer
================================================== -->
<div id="footer">
	
	<!-- Footer Top Section -->
	<div class="footer-top-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">

					<!-- Footer Rows Container -->
					<div class="footer-rows-container">
						
						<!-- Left Side -->
						<div class="footer-rows-left">
							<div class="footer-row">
								<div class="footer-row-inner footer-logo">
									<img src="/images/logo2.png" alt="">
								</div>
							</div>
						</div>
						
						<!-- Right Side -->
						<div class="footer-rows-right">

							<!-- Social Icons -->
							<div class="footer-row">
								<div class="footer-row-inner">
									<ul class="footer-social-links">
										<li>
											<a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-google-plus-g"></i>
											</a>
										</li>
										<li>
											<a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
												<i class="icon-brand-linkedin-in"></i>
											</a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer Rows Container / End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Top Section / End -->

	<!-- Footer Middle Section -->
	<div class="footer-middle-section" style="font-family: Mahsa;">
		<div class="container">
			<div class="row">

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3 style="font-family: Mahsa;">برای داوطلبان</h3>
						<ul>
							<li><a href="#"><span>شغل‌ها</span></a></li>
							<li><a href="#"><span>ساخت رزومه</span></a></li>
							<li><a href="#"><span>بوک مارک‌های من</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3 style="font-family: Mahsa;">برای کارفرمایان</h3>
						<ul>
							<li><a href="#"><span>کاندیدها</span></a></li>
							<li><a href="/jobs/create"><span>پست موقعیت شغلی</span></a></li>
							<li><a href="/tasks/create"><span>پست پروژه</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3 style="font-family: Mahsa;">لینک‌های مفید</h3>
						<ul>
							<li><a href="#"><span>تماس با ما</span></a></li>
							<li><a href="#"><span>قوانین و مقررات</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Links -->
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3 style="font-family: Mahsa;">اکانت</h3>
						<ul>
							<li><a href="#"><span>ورود به سایت</span></a></li>
							<li><a href="#"><span>اکانت من</span></a></li>
						</ul>
					</div>
				</div>

				<!-- Newsletter -->
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3 style="font-family: Mahsa;text-align: right;"></i>ثبت نام در خبرنامه سایت <i class="icon-feather-mail"></i></h3>
					{{!-- <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p> --}}
					<form action="#" method="get" class="newsletter">
						<input type="text" name="fname" placeholder="ایمیل خود را وارد کنید" style="font-family: Mahsa; text-align: right;">
						<button type="submit"><i class="icon-feather-arrow-right"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Middle Section / End -->
	
	<!-- Footer Copyrights -->
	<div class="footer-bottom-section" style="font-family: Mahsa;">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2020 <strong>Hireo</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Copyrights / End -->

</div>
<!-- Footer / End -->

</div>
<!-- Wrapper / End -->

<!-- Has Next Page Hidden -->
<h1 id="has-next-page" style="display: none;">{{ data.hasNextPage }}</h1>
<!-- End /// Has Next Page Hidden -->
<!-- Scripts
================================================== -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery-migrate-3.1.0.min.html"></script>
<script src="/js/mmenu.min.js"></script>
<script src="/js/tippy.all.min.js"></script>
<script src="/js/simplebar.min.js"></script>
<script src="/js/bootstrap-slider.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/snackbar.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/counterup.min.js"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

<!-- Google Autocomplete -->
<script>
	function initAutocomplete() {
		 var options = {
		  types: ['(cities)'],
		  // componentRestrictions: {country: "us"}
		 };

		 var input = document.getElementById('autocomplete-input');
		 var autocomplete = new google.maps.places.Autocomplete(input, options);
	}
</script>

<script>
	$(document).ready(() => {
        // next page pagination
        $('#next-page').on('click', () => {
            if ($('#has-next-page').text() === '0') {
                return false;
            }
			const location = $('#autocomplete-input').val();
			const category = $('#category option:selected').attr('value');
			const title = $('#title-search').val();
            let page = '';
            if (window.location.href.indexOf('page=') !== -1) {
                if (window.location.href.indexOf('&', window.location.href.indexOf('page=')) !== -1) {
                    page = window.location.href.substring
                        (window.location.href.indexOf('page=') + 5, window.location.href.indexOf('&', window.location.href.indexOf('page=')))
                        .replace(/\D/g,'');
                } else {
                    page = window.location.href.substring(window.location.href.indexOf('page=') + 5)
                        .replace(/\D/g,'');
                }
            }
			let url = '/jobs?req=1';
			location ? url = url + '&location=' + location : '';
			category ? url = url + '&category=' + category : '';
			title ? url = url + '&title=' + title : '';
            page ? url = url + '&page=' + (parseInt(page) + 1).toString() : url = url + '&page=2';
			window.location.href = url;
		});

        // prev page pagination
        $('#prev-page').on('click', () => {
			const location = $('#autocomplete-input').val();
			const category = $('#category option:selected').attr('value');
			const title = $('#title-search').val();
            let page = '';
            if (window.location.href.indexOf('page=') !== -1) {
                if (window.location.href.indexOf('&', window.location.href.indexOf('page=')) !== -1) {
                    page = window.location.href.substring
                        (window.location.href.indexOf('page=') + 5, window.location.href.indexOf('&', window.location.href.indexOf('page=')))
                        .replace(/\D/g,'');;
                } else {
                    page = window.location.href.substring(window.location.href.indexOf('page=') + 5)
                        .replace(/\D/g,'');;
                }
            }
            if (page === '1') {
                return false;
            }
			let url = '/jobs?req=1';
			location ? url = url + '&location=' + location : '';
			category ? url = url + '&category=' + category : '';
			title ? url = url + '&title=' + title : '';
            page ? url = url + '&page=' + (parseInt(page) - 1).toString() : url = url + '&page=1';
			window.location.href = url;
		});

		$('#logOut').on('click', () => {
			$.ajax({
				url: '/logout',
				method: 'GET',
				success: (data, status, xhr) => {
					window.location.href = '/';
				}
			});
		});
	
		$('#submit').on('click', () => {
			const location = $('#autocomplete-input').val();
			const category = $('#category option:selected').attr('value');
			const title = $('#title-search').val();
			let url = '/jobs?req=1';
			location ? url = url + '&location=' + location : '';
			category ? url = url + '&category=' + category : '';
			title ? url = url + '&title=' + title : '';
			window.location.href = url;
		});

		$('#clear').on('click', () => {
			window.location.href = '/jobs';
		});
		
		if (location.href.split('location=').length > 1) {
			const urlParams = new URLSearchParams(window.location.search);
			$('#autocomplete-input').val(urlParams.get('location'));
		}

		if (location.href.split('title=').length > 1) {
			const urlParams = new URLSearchParams(window.location.search);
			$('#title-search').val(urlParams.get('title'));
		}

		if (location.href.split('category=').length > 1) {
			const urlParams = new URLSearchParams(window.location.search);
			$('#category option').each((index, element) => {
				if ($(element).attr('value') == urlParams.get('category')) {
					$(element).attr('selected', 'selected');
				}
			});
		}
	});
</script>

</body>

</html>